.cell {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  box-sizing: border-box;
  background-color: #C0C0C0;
  border-left: #FFFFFF 4px solid;
  border-top: #FFFFFF 4px solid;
  border-right: #808080 4px solid;
  border-bottom: #808080 4px solid;
}

.cell.clicked-false:hover {
  background-color: #f2faff;
  cursor: pointer;
}

.clicked-true {
  background-color: #C0C0C0;
  border: #808080 1px solid;
}

.clicked-true:hover {
  cursor: default;
}

.cell.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcbcf;
} 

.cell.bomb > div {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: red;
}

.flagged {
  cursor: pointer;
}

.flagged svg {
  scale: 80%;
  fill: red;
}

.clicked-true {
  font-size: 18px;
  font-weight: 700;
}

.bombs-around-1 {
  color: blue;
}
.bombs-around-2 {
  color: green;
}
.bombs-around-3 {
  color: red;
}
.bombs-around-4 {
  color: darkblue;
}
.bombs-around-5 {
  color: brown;
}
.bombs-around-6 {
  color: turquoise;
}
.bombs-around-7 {
  color: grey;
}