.cell {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #f2faff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border:none;
}

.cell.index-0 {
  background-color: #cbe0ff;
}

.cell.index-1 {
  background-color: #6da0f2;
}

.cell.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcbcf;
}

.cell .bomb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: red;
}

.cell:hover {
  background-color: #f2faff;
}

.flagged svg {
  fill: #311b94;
}

.clicked-true  {
  border-width: 2px;
  border-style: solid;
  border: none;
  font-weight: bold;
}